@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html {
  background-image: linear-gradient(#1b2c8d, #000a41);
  height: 100vh;
}

body {
  height: 96.8vh;
  background-image: url('../img/fundoTelaInicial/fundoGOpaco.png');
  background-repeat: no-repeat;
}

#span1 {
  height: 96.07999511718748664179656771011650562286376953125vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

body h2 {
  color: white;
}

main {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto, 0, auto, 0;
}

/*DIV QUESTION E TUDO DENTRO*/

li {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 10px;
}

.spnQtd {
  text-align: center;
  font-size: 32px;
  color: #D98A29;

}

.question {
  font-size: 45px;
  color: #D98A29;
  text-align: center;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 35px;
  text-align: center;
}

/*DIV AJUDA E TIMER*/

.content2 {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#timer {
  font-size: 45px;
  text-align: center;
  width: 55%;
  color: #D98A29;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #261201;
  margin-bottom: 40px;
}

#boost {
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#boost .button img {
  width: 50px;
  height: 50px;
}

.button {
  font-size: 20px;
  color: white;
  background-color: #00093a;
  padding: 15px;
  width: 100%;
  align-items: center;
  border: none;
  border-radius: 45px;
  cursor: pointer;

}

/*GERAL*/

.answers button {
  width: 75%;
  height: 120px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #00093a;
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 0px, 10px, 0px, 10px;
}



/* FINISH */

.finish {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.finish span {
  text-align: center;
  font-size: 38px;
  color: white;
}

#textFinish {
  color: #D98A29;
  font-size: 40px;
}

.finish button {
  text-align: center;
  padding: 20px;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  background-color: #00093a;
  color: white;
  font-size: 25px;
  width: 440px;
}

footer {
  color: white;
}

#NomeUsuario {
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  width: 80%;
  padding: 10px;
  outline: none;
  font-size: 27px;
  border-style: solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: white;
  color: white;
}


/* RANKING */

.mainRanking {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}