.mainRanking h1 {
    font-size: 40px;
}

.mainRanking {
    display: none;
    flex-direction: column;
    height: 97.6vh;
    justify-content: center;
    align-items: center;
    color: white;
}

table.ranking {
    width: 60%;
    border-collapse: separate;
}

table.ranking tr {
    background-color: transparent;
}

table.ranking td {
    border-radius: 45px;
    text-align: center;
    font-size: 25px;

}

table.ranking div {
    margin: 10px 70px;
}

table.ranking div.gradeAndClass {
    padding: 10px 20px;
    width: auto;
    background-color: #000a41;
    border-radius: 45px;
    align-items: center;
}

table.ranking div.name {
    padding: 10px 20px;
    width: auto;
    background-color: #000a41;
    border-radius: 45px;
    align-items: center;
}

table.ranking div.score {
    padding: 10px 20px;
    width: auto;
    background-color: #324095;
    border-radius: 45px;
    align-items: center;
}

table.ranking div.position {
    padding: 10px 20px;
    width: auto;
    max-width: 200px;
    background-color: #324095;
    border-radius: 45px;
    align-items: center;
}


.mainRanking button {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #324095;
    border-radius: 45px;
    color: white;
    border: none;
    cursor: pointer;
}