main {
    display: grid;
    height: 94.07999511718748664179656771011650562286376953125vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
}

.div-box div {
    justify-content: center;
    flex-direction: column;
}

.input-single {
    position: relative;
    width: 440px;
    height: 45px;
}

.input-single input {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    outline: none;
    font-size: 37px;
    border-style: solid;
    border-bottom-color: white;
}

.input-single span {
    position: absolute;
    left: 0;
    padding: 10px 10px 10px 0px;
    pointer-events: none;
    color: white;
    font-size: 15px;
}